@media all and (min-width: 2100px) {
  main .wrapper {
    width: 50%;
  }
  main .annotation .text p {
    font-size: 1.2rem;
  }
  main .annotation .game-logo-links {
    height: 400px;
  }
  main .annotation .game-logo-links .links .promotion-pack, main .annotation .game-logo-links .links .product-sheet {
    padding: 15px 5px;
    font-size: 1rem;
  }
  main .info .properties li .prop {
    font-size: 1rem;
  }
  main .info .properties li .value {
    font-size: 1.2rem;
  }
  main .info .properties li .languages {
    padding: 20px 0 0;
  }
  main .rules .wrapper {
    display: block;
    padding: 100px 0;
  }
  main .rules .wrapper .container .text .secondary {
    font-size: 1rem;
  }
  main .rules .wrapper .container .text .header {
    margin: 3px 0 10px;
    font-size: 3rem;
  }
  main .rules .wrapper .container .text p {
    font-size: 1.2rem;
  }
}
@media all and (min-width: 1900px) and (max-width: 2100px) {
  main .wrapper {
    width: 60%;
  }
  main .annotation .game-logo-links {
    height: 300px;
  }
}
@media all and (max-width: 850px) {
  main .wrapper {
    width: 70%;
  }
  main .annotation .text {
    width: 60%;
  }
  main .annotation .game-logo-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
  }
  main .annotation .game-logo-links .links {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  main .annotation .game-logo-links .links .promotion-pack, main .annotation .game-logo-links .links .product-sheet {
    display: inline-block;
    padding: 10px 0;
    width: 45%;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
  }
  main .annotation .game-logo-links .links .promotion-pack {
    background: #7A993D;
  }
  main .annotation .game-logo-links .links .product-sheet {
    background: #1451CC;
  }
  main .info .properties li .languages .flag {
    height: 17px;
    width: 20px;
  }
  main .rules .wrapper {
    display: block;
    padding: 50px 0;
  }
  main .rules .wrapper .container {
    margin: 50px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  main .rules .wrapper .container .text {
    width: 35%;
    margin: 0;
  }
  main .rules .wrapper .container .text .secondary {
    font-weight: bold;
    color: #8F8F8F;
    font-size: 0.7rem;
  }
  main .rules .wrapper .container .text .header {
    margin: 7px 0 15px;
  }
  main .rules .wrapper .container .text p {
    margin: 0;
    font-size: 0.8rem;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    background: #122308;
    z-index: 2;
  }
  .footer .wrapper {
    width: 70%;
  }
  .footer__logo {
    height: 80px;
    width: 100px !important;
  }
  .footer__social-icons {
    display: flex;
    justify-content: space-between !important;
    width: 30% !important;
    margin-top: 0;
  }
  .footer__social-icons .icon {
    font-size: 2rem;
    color: #fff;
    opacity: 0.75;
    transition: 0.375s all ease-in-out;
  }
  .footer__social-icons .icon:hover {
    opacity: 1;
    transition: 0.375s all ease-in-out;
  }
  .footer .footer__copyrigth {
    position: relative;
    height: 90%;
    margin: 0;
    display: flex;
    align-items: flex-end;
    font-size: 0.5rem !important;
  }
}
@media all and (max-width: 500px) {
  header {
    position: relative;
    height: 330px;
    background: #000 url("images/header_bg.png") top no-repeat;
    background-size: auto 117%;
    text-align: center;
  }
  header .logo {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 7px;
    background-size: 100% 100%;
  }
  header .play-now {
    position: relative;
    top: 82.6%;
    padding: 20px 45px;
    display: inline-block;
    background: #FFE400;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 18px;
    color: #000;
    border-radius: 5px;
  }

  main .wrapper {
    width: 90%;
  }
  main .annotation {
    padding: 80px 0;
  }
  main .annotation .wrapper {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  main .annotation .wrapper .text, main .annotation .wrapper .game-logo-links {
    width: 100%;
  }
  main .annotation .wrapper .text {
    margin: 30px 0 0;
    text-align: center;
  }
  main .annotation .wrapper .text hr {
    margin: 10px auto 15px;
    width: 30%;
  }
  main .annotation .wrapper .text p {
    text-align: left;
  }
  main .annotation .wrapper .game-logo-links {
    height: 230px;
  }
  main .annotation .wrapper .game-logo-links .links .promotion-pack, main .annotation .wrapper .game-logo-links .links .product-sheet {
    padding: 15px 0;
    width: 49%;
  }
  main .info {
    overflow: auto;
    padding: 30px 0 30px 30px;
    background: #D8EFAA;
  }
  main .info .properties {
    height: 400px;
    padding: 0;
    width: 100%;
    justify-content: center;
  }
  main .info .properties li {
    list-style: none;
    width: 45%;
    margin-bottom: 15px;
  }
  main .info .properties li .prop {
    margin: 0;
    font-weight: 500;
  }
  main .info .properties li .value {
    margin: 10px 0 0;
    text-transform: uppercase;
  }
  main .info .properties li .platforms {
    margin: 0.8rem 0 0;
  }
  main .rules .wrapper {
    display: block;
    padding: 50px 0 10px;
  }
  main .rules .wrapper .container {
    margin: 0 0 40px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    z-index: 2;
  }
  .footer .wrapper {
    width: 80%;
  }
  .footer__social-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10% !important;
    margin-top: -1rem;
  }
  .footer__social-icons .icon {
    font-size: 1.7rem !important;
    color: #fff;
    opacity: 0.75;
    transition: 0.375s all ease-in-out;
  }
  .footer__copyrigth {
    position: absolute;
    top: 0;
    left: -23px;
    margin: 0 !important;
    width: 50% !important;
    display: flex;
    align-items: flex-end;
    font-size: 0.5rem;
    color: #fff;
  }
}
