body {
  margin: 0;
  font-family: "Montserrat";
  width: 100%;
  overflow-x: hidden;
}

.fixed-header{
  position: fixed;
  top: 0;
  z-index: 12;
  display: flex;
  height: 70px;
  opacity: 0.8;
  width: 90%;
  padding: 0 5%;
  background: #141414;
  justify-content: space-between;
  align-items: center;
  .logo{
    display: inline-block;
    height: 30px;
    width: 185px;
    background: url("images/logo.png") no-repeat;
    background-size: 100% 100%;
  }
  &-nav{
    margin: 0;
    padding: 0;
    width: 38%;
    display: flex;
    opacity: 0.8;
    justify-content: space-between;
    align-items: center;
    li{
      display: inline-block;
      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.p {
  font-family: "Roboto";
}

a, button {
  cursor: pointer;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
header .image {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("images/kilic_bg.jpg") center no-repeat;
  background-image: 150% 110%;
}
header .logo {
  display: inline-block;
  position: absolute;
  top: 22px;
  left: 35px;
  height: 30px;
  width: 180px;
  background: url("images/logo.png") no-repeat;
  background-size: 100% auto;
}
header .play-now {
  position: absolute;
  top: 70%;
  padding: 20px 45px;
  display: inline-block;
  background: #FFE400;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 18px;
  color: #000;
  border-radius: 5px;
}
header .container {
  position: absolute;
  top: 26%;
  height: 250px;
  width: 460px;
}
header .container img {
  -webkit-mask-image: url("images/kilic_logo.png");
  -webkit-mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background: url("images/kilic_logo.png");
  background-size: 100% 100%;
  width: 100%;
  height: 250px;
}

main .wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 45%;
}
main .annotation {
  padding: 100px 0;
}
main .annotation .text {
  width: 45%;
}
main .annotation .text h2, main .annotation .text p {
  margin: 0;
}
main .annotation .text p {
  font-size: 0.9rem;
}
main .annotation .text h2 {
  font-size: 2rem;
}
main .annotation .text hr {
  margin: 10px 0 50px;
  color: #7A993D;
}
main .annotation .game-logo-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
main .annotation .game-logo-links .game-logo {
  width: 100%;
  padding-top: 50%;
  background: url("images/kilic_logo.png") center no-repeat;
  background-size: contain;
}
main .annotation .game-logo-links .links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .annotation .game-logo-links .links .promotion-pack, main .annotation .game-logo-links .links .product-sheet {
  display: inline-block;
  padding: 10px 0;
  width: 45%;
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}
main .annotation .game-logo-links .links .promotion-pack {
  background: #7A993D;
}
main .annotation .game-logo-links .links .product-sheet {
  background: #1451CC;
}
main .info {
  padding: 70px 0 30px;
  background: #D8EFAA;
}
main .info .properties {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
main .info .properties li {
  list-style: none;
  width: 24%;
  margin-bottom: 40px;
}
main .info .properties li .prop {
  line-height: 1;
  margin: 0;
  font-weight: 500;
  font-size: 0.8rem;
}
main .info .properties li .value {
  font-size: 0.9rem;
  line-height: 1.3;
  text-transform: uppercase;
}
main .info .properties li .languages {
  margin: 0.8rem 0 0;
  padding: 0;
}
main .info .properties li .languages .flag {
  display: inline-block;
  margin: 0 10px 0 0;
  height: 20px;
  width: 23px;
  float: left;
}
main .info .properties li .languages .flag-tr {
  background: url("images/tr-flag.png");
  background-size: 100% 100%;
}
main .info .properties li .languages .flag-uk {
  background: url("images/uk-flag.png");
  background-size: 100% 100%;
}
main .info .properties li .languages .flag-r {
  background: url("images/r-flag.png");
  background-size: 100% 100%;
}
main .info .properties li .platforms {
  margin: 0.8rem 0 0;
}
main .info .properties li .platforms .fas {
  font-size: 1.2rem;
  margin-right: 10px;
}
main .rules .wrapper {
  display: block;
  padding: 50px 0;
}
main .rules .wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem 0 0;
}
main .rules .wrapper .container .image {
  width: 47%;
}
main .rules .wrapper .container .text {
  width: 47%;
  margin: 0;
}
main .rules .wrapper .container .text .secondary {
  font-weight: bold;
  color: #8F8F8F;
  font-size: 0.7rem;
  text-transform: uppercase;
}
main .rules .wrapper .container .text .header {
  margin: 7px 0 15px;
  font-size: 1rem;
}
main .rules .wrapper .container .text p {
  margin: 0;
  font-size: 0.8rem;
}
main .rules .wrapper .container.classic .image {
  padding-top: 31%;
  background: url("images/classic.png") center no-repeat;
  background-size: 100% auto;
}
main .rules .wrapper .container.special .image {
  padding-top: 62%;
  background: url("images/special.png") no-repeat;
  background-size: 100% auto;
}
main .rules .wrapper .container.bonus .image {
  padding-top: 41%;
  width: 32%;
  background: url("images/bonus.png") center no-repeat;
  background-size: 100% 100%;
}
main .rules .wrapper .container.win .image {
  padding-top: 35%;
  background: url("images/win.png") center no-repeat;
  background-size: 100% auto;
}

footer {
  height: auto;
  overflow: visible;
  background: #151D26;
  height: 200px;
}
footer .wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  overflow: visible;
}
footer .wrapper .footer-info {
  position: relative;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
footer .wrapper .footer-info .logo {
  background: url("images/footer-logo.png") center no-repeat;
  padding-top: 7%;
  width: 30%;
  background-size: contain;
}
footer .wrapper .footer-info .social-icons {
  margin: 0 3px 0 0;
}
footer .wrapper .footer-info .social-icons .icon {
  color: #fff;
  margin: 0 0 0 20px;
  font-size: 2rem;
  opacity: 0.6;
}
footer .wrapper .additional {
  position: relative;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
footer .wrapper .additional .copyrigth {
  color: #C1C4C9;
}
footer .wrapper .additional .warnings {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 30%;
}
footer .wrapper .additional .warnings .gamble-aware {
  display: inline-block;
  width: 80%;
  padding-top: 10%;
  background: url("images/gamble-aware.png") center no-repeat;
  background-size: contain;
}
footer .wrapper .additional .warnings .over18 {
  width: 12%;
  padding-top: 12%;
  background: url("images/18.png") center no-repeat;
  background-size: contain;
}
